{% load i18n leprikon_tags sekizai_tags thumbnail %}

{% for group in groups %}

{% if group.objects.count %}

<h2 class="group_name">{{ group.group.plural }}</h2>

{% for course in group.objects %}

<div class="leprikon_course">

    <h3 class="course_name course_name_{{ course.id }}">
        {% if course.page %}
        <a href="{{ course.page.get_absolute_url }}" alt="{{ course.page.get_title }}">{{ course.name }}</a>
        {% else %}
        {{ course.name }}
        {% endif %}
        <br/>
        {% if course.all_times %}
        <small>{{ course.all_times | comma_separated }}</small>
        {% endif %}
        {% if course.price %}
        <small>{{ course.price | currency }} / {{ course.unit }}</small>
        {% endif %}
    </h3>

    <div class="course_description">
        {% if course.photo %}
        <a href="{% thumbnail course.photo 1500x1500 %}">
            <img class="right" src="{% thumbnail course.photo 200x200 %}" />
        </a>
        {% endif %}
        {{ course.description | safe }}

        {% if course.all_leaders %}
        <p>
            {% blocktrans count counter=course.all_leaders|length %}Led by{% plural %}Led by{% endblocktrans %}
            {{ course.get_leaders_list }}
        </p>
        {% endif %}

        {% if object.course_type.all_attachments or object.all_attachments %}
        <p>
            {% trans 'Attachments' %}:
            {% for attachment in object.course_type.all_attachments %}
            <a href="{{ attachment.file.url }}">{{ attachment.file }}</a>
            {% endfor %}
            {% for attachment in object.all_attachments %}
            <a href="{{ attachment.file.url }}">{{ attachment.file }}</a>
            {% endfor %}
        </p>
        {% endif %}

        {% if course.page %}
        <p>
            {% trans 'More information' %}:
            <a href="{{ course.page.get_absolute_url }}">
                {{ event.page.get_title }}
            </a>
        </p>
        {% endif %}

        <p>{% registration_links course %}</p>
    </div>

</div>

{% if request.toolbar.use_draft %}
{% addtoblock 'js' %}
<script>
(function($) {
$(document).ready(function () {
    new CMS.Plugin('course_name_{{ course.id }}', {
        'plugin_name': '{{ course.name }}',
        'urls': {
            'edit_plugin': '{{ course.get_edit_url }}',
        },
    });
});
})(CMS.$);
</script>
{% endaddtoblock %}
{% endif %}

{% endfor %}

{% endif %}

{% endfor %}

