include LICENSE
include requirements.in
include bin/leprikon
recursive-exclude * *.py[co]
recursive-include leprikon/locale *
recursive-include leprikon/static *
recursive-include leprikon/templates *
