[tool.black]
line-length = 120
exclude = "migrations*"

[tool.flake8]
exclude = "leprikon/tests,leprikon/migrations,leprikon/migrations_0_1"
max-line-length = 120

[tool.isort]
combine_as_imports = true
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
known_first_party = "leprikon"
line_length = 120
multi_line_output = 3
profile = "black"
skip_glob = "*migrations*"
use_parentheses = true

[tool.poetry]
name = "leprikon"
version = "2.32.1"
description = "Django CMS based IS for education"
authors = ["Jakub Dorňák <jakub.dornak@misli.cz>"]
license = "BSD-3-Clause"
readme = "README.rst"
homepage = "https://leprikon.cz/"
repository = "https://github.com/leprikon-cz/leprikon"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 1.11",
    "Intended Audience :: Education",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: Czech",
    "Natural Language :: English",
    "Operating System :: POSIX",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Education",
]

[tool.poetry.dependencies]
python = "^3.8"
Django = "<2"
PyPDF2 = "^1.26.0"
certbot = "^1.12.0"
certbot-nginx = "^1.12.0"
cmsplugin-filer = "^1.1.3"
django-bankreader = "<0.7"
django-cms = "<3.7"
django-countries = "^7.0"
django-cron = "^0.5.1"
django-excel = "^0.0.10"
django-filer = "<1.6"
django-ganalytics = "^0.7.0"
django-haystack = "<2.8"
django-localflavor = "<2"
django-mathfilters = "^1.0.0"
django-multiselectfield = "^0.1.12"
django-pays = "^0.1.0"
django-qr-code = "<1.3"
django-redis = "4.11.0"
django-staticfiles-downloader = "<0.3"
django-template-admin = "^1.1.1"
django-user-unique-email = "^0.1.1"
django-verified-email-field = "^1.7.0"
djangocms-googlemap = "<1.5"
djangocms-link = "<2.7"
djangocms-snippet = "<2.4"
djangocms-style = "<2.4"
djangocms-text-ckeditor = "<4"
djangocms-video = "<2.4"
html2rml = "^0.3.0"
ipython = "^7.20.0"
lxml = "^4.6.2"
mysqlclient = "^2.0.3"
psycopg2-binary = "^2.8.6"
pyexcel-xlsxw = "^0.6.1"
PyICU = "^2.6"
pymongo = "^3.11.3"
python-memcached = "^1.59"
requests = "^2.25.1"
rocketchat-API = "^1.14.0"
sentry-sdk = "^0.19.5"
social-auth-app-django = "^4.0.0"
trml2pdf = "^0.6"
uWSGI = "^2.0.19"
Whoosh = "^2.7.4"
schwifty = "^2021.5.2"
sqlparse = "^0.4.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
isort = "^5.7.0"
python-dotenv = "^0.15.0"
pytest = "^6.2.4"
mypy = "^0.812"

[tool.poetry.scripts]
leprikon = 'leprikon.__main__:main'

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
