# Requirements of leprikon
Django
PyPDF2
cmsplugin-filer
django-bankreader
django-cms<3.6
django-countries
django-excel
django-filer
django-ganalytics
django-haystack<2.8
django-localflavor<2
django-pays
django-qr-code
django-staticfiles-downloader
django-template-admin
django-verified-email-field
djangocms-googlemap
djangocms-link
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
html2rml
ipython
mysqlclient
psycopg2-binary
pyexcel-xlsxw
pyicu
python-memcached
raven
social-auth-app-django
uwsgi
-e git+https://github.com/misli/trml2pdf.git@registerFontFamily#egg=trml2pdf
