# Requirements of leprikon
Django<2
PyPDF2
certbot
certbot-nginx
cmsplugin-filer
django-bankreader
django-cms<3.7
django-countries
django-cron
django-excel
django-filer<1.6
django-ganalytics
django-haystack<2.8
django-localflavor<2
django-mathfilters
django-multiselectfield
django-pays
django-qr-code
django-staticfiles-downloader
django-template-admin
django-user-unique-email
django-verified-email-field
djangocms-googlemap
djangocms-link
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
html2rml
ipython
lxml
mysqlclient
psycopg2-binary
pyexcel-xlsxw
pyicu
pymongo
python-memcached
requests
rocketchat-api
sentry-sdk
social-auth-app-django
uwsgi
whoosh
-e git+https://github.com/misli/trml2pdf.git@registerFontFamily#egg=trml2pdf
