{% load i18n %}

<p>{% blocktrans %}Hello,<br/>
thank You for submitting registration.{% endblocktrans %}</p>

{% if object.subject.full %}
<p>{% blocktrans with subject_type=object.subject.subject_type.name_genitiv %}Unfortunately, the capacity of this {{ subject_type }} has already been filled. The registration may not be approved. We will inform You.{% endblocktrans %}</p>
{% endif %}

<p>
    {% trans 'Use the link below to see and manage your registrations:' %}<br/>
    <a href="https://{{ site.domain }}{% url 'leprikon:registration_list' %}">
        https://{{ site.domain }}{% url 'leprikon:registration_list' %}
    </a>
</p>

<p>{{ site.name }}</p>
