{% extends 'leprikon/base.html' %}
{% load i18n leprikon_tags %}

{% block content %}

<h1>{% block title %}{% blocktrans with name=course.name %}Registrations for course {{ name }}{% endblocktrans %}{% endblock %}</h1>

<h2>{% trans 'Active Registrations' %}</h2>

{% for reg in course.all_approved_registrations %}
{% include 'leprikon/registration_details.html' with reg=reg.courseregistration %}
{% empty %}
<p>{% trans 'There are no active registrations for this course.' %}</p>
{% endfor %}

{% if course.all_unapproved_registrations %}
    <h2>{% trans 'Unapproved Registrations' %}</h2>

    {% for reg in course.all_unapproved_registrations %}
    {% include 'leprikon/registration_details.html' with reg=reg.courseregistration %}
    {% endfor %}
{% endif %}

{% if course.all_inactive_registrations %}
    <h2>{% trans 'Inactive Registrations' %}</h2>

    {% for reg in course.all_inactive_registrations %}
    {% include 'leprikon/registration_details.html' with reg=reg.courseregistration %}
    {% endfor %}
{% endif %}

{% endblock %}
