{% extends 'leprikon/default.html' %}
{% load i18n leprikon_tags %}

{% block content %}

<h1>{% block title %}{% blocktrans with activity_type=event.activity_type.name_akuzativ name=event.name %}Registrations for {{ activity_type }} {{ name }}{% endblocktrans %}{% endblock %}</h1>

<h2>{% trans 'Active Registrations' %}</h2>

{% for reg in event.all_approved_registrations %}
{% include 'leprikon/registration_details.html' with reg=reg.eventregistration %}
{% empty %}
<p>{% blocktrans with activity_type=event.activity_type.name_akuzativ %}There are no active registrations for this {{ activity_type }}.{% endblocktrans %}</p>
{% endfor %}

{% if event.all_unapproved_registrations %}
    <h2>{% trans 'Unapproved Registrations' %}</h2>

    {% for reg in event.all_unapproved_registrations %}
    {% include 'leprikon/registration_details.html' with reg=reg.eventregistration %}
    {% endfor %}
{% endif %}

{% if event.all_inactive_registrations %}
    <h2>{% trans 'Inactive Registrations' %}</h2>

    {% for reg in event.all_inactive_registrations %}
    {% include 'leprikon/registration_details.html' with reg=reg.eventregistration %}
    {% endfor %}
{% endif %}

{% endblock %}
