{% extends 'leprikon/base.html' %}
{% load i18n leprikon_tags %}

{% block content %}

<h1>{% block title %}{% blocktrans with name=event.name %}Registrations for event {{ name }}{% endblocktrans %}{% endblock %}</h1>

<h2>{% trans 'Active Registrations' %}</h2>

{% for reg in event.all_approved_registrations %}
{% include 'leprikon/registration_details.html' with reg=reg.eventregistration %}
{% empty %}
<p>{% trans 'There are no active registrations for this event.' %}</p>
{% endfor %}

{% if event.all_unapproved_registrations %}
    <h2>{% trans 'Unapproved Registrations' %}</h2>

    {% for reg in event.all_unapproved_registrations %}
    {% include 'leprikon/registration_details.html' with reg=reg.eventregistration %}
    {% endfor %}
{% endif %}

{% if event.all_inactive_registrations %}
    <h2>{% trans 'Inactive Registrations' %}</h2>

    {% for reg in event.all_inactive_registrations %}
    {% include 'leprikon/registration_details.html' with reg=reg.eventregistration %}
    {% endfor %}
{% endif %}

{% endblock %}
