{% extends 'leprikon/list.html' %}
{% load i18n sekizai_tags staticfiles %}

{% block content %}
{{ block.super }}

{% include 'leprikon/static/bootstrap-multiselect.html' %}

{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_group').multiselect({
        nonSelectedText: '',
        numberDisplayed: 2,
        nSelectedText: '{% trans 'selected' %}',
        onDropdownHide: function(element, checked) {
            $('#list_filter_form').submit();
        },
        disableIfEmpty: true,
    });
    $('#id_leader').multiselect({
        nonSelectedText: '',
        numberDisplayed: 2,
        nSelectedText: '{% trans 'selected' %}',
        enableFiltering: true,
        filterPlaceholder: '{% trans 'Search' %}',
        onDropdownHide: function(element, checked) {
            $('#list_filter_form').submit();
        },
        disableIfEmpty: true,
    });
    $('#id_place').multiselect({
        nonSelectedText: '',
        numberDisplayed: 2,
        nSelectedText: '{% trans 'selected' %}',
        onDropdownHide: function(element, checked) {
            $('#list_filter_form').submit();
        },
        disableIfEmpty: true,
    });
    $('#id_age_group').multiselect({
        nonSelectedText: '',
        numberDisplayed: 2,
        nSelectedText: '{% trans 'selected' %}',
        onDropdownHide: function(element, checked) {
            $('#list_filter_form').submit();
        },
        disableIfEmpty: true,
    });
});
</script>
{% endaddtoblock %}

{% endblock %}
