<div class="form-group checkbox {{ item.css_classes }}">
    <label for="{{ item.id_for_label }}" class="col-xs-1 col-sm-offset-1{% if item.errors %} alert alert-danger{% endif %}">
        {{ item }}
    </label>
    <div class="col-xs-11 col-sm-9">
        <label for="{{ item.id_for_label }}">
            {{ item.label }}
            {% for error in item.errors %}
                <div>{{ error }}</div>
            {% endfor %}

            {% if item.help_text %}
                <span class="help-block">{{ item.help_text | safe }}</span>
            {% endif %}
        </label>
    </div>
</div>
