{% load i18n leprikon_tags sekizai_tags thumbnail %}

<div class="box box-leader">
    <div class="box-header">
        <strong>{{ object.full_name }}</strong>
    </div>

    <div class="box-content">
        {% if object.photo %}
        <a href="{% thumbnail object.photo 1500x1500 %}" data-toggle="lightbox" data-title="{{ object.photo.name }}">
            <img class="right" alt="{{ object.photo.name }}" src="{% thumbnail object.photo 200x200 %}" />
        </a>
        {% endif %}
        {{ object.description | safe }}
        <div class="row">
            <label class="col-sm-4">{% trans 'Clubs' %}:</label>
            <div class="col-sm-8">
                {% for club in object.clubs|filter_current_school_year:request.school_year %}
                {{ club.name }}<br />
                {% endfor %}
            </div>
        </div>
        {% if object.all_public_contacts %}
        <div class="row">
            <label class="col-sm-4">{% trans 'Contact' %}:</label>
            <div class="col-sm-8">
                {% for contact in object.all_public_contacts %}
                <div class="contact contact-{{ contact.contact_type }}">
                    {{ contact.contact }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if object.page %}
        <p>
            {% trans 'More information' %}:
            <a href="{{ object.page.get_absolute_url }}">
                {{ object.page.get_title }}
            </a>
        </p>
        {% endif %}
    </div>
</div>

{% addtoblock 'css' %}
<link href="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css" integrity="sha384-EsoR0pjPTZTUy5b8kJf6aTfA7quYluD5mNQ/Lz4hsxU2kXuuc6PlXVfBJCFdTXqD" rel="stylesheet" crossorigin="anonymous"/>
{% endaddtoblock %}

{% addtoblock 'js' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js" integrity="sha384-2aVpK/uKiYlyFXHZ36wvxOPZyWeouEKvbSUlqCrkFhyT80n2aSYtT15Tgdn6g41M" crossorigin="anonymous"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
<script>
<!--
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
-->
</script>
{% endaddtoblock %}
