{% load i18n leprikon_tags %}
<div class="box box-parent">

    <div class="box-header">
        <strong>{{ object.full_name }}</strong>
        <a class="btn btn-primary btn-xs" href="{% url_with_back 'leprikon:parent_update' object.id %}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            {% trans 'edit' %}
        </a>
        <a class="btn btn-primary btn-xs" href="{% url_with_back 'leprikon:parent_delete' object.id %}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans 'delete' %}
        </a>
    </div>

    <div class="box-content">
        <div class="row">
            <label class="col-sm-4">Kontakt:</label>
            <div class="col-sm-8">
                {{ object.address }}<br/>
                email: {{ object.email }} telefon: {{ object.phone }}
            </div>
        </div>
    </div>

</div>
