{% extends 'leprikon/list.html' %}
{% load cms_tags i18n leprikon_tags %}

{% block list %}

{% if request.GET.PaymentOrderStatusID.0 == '3' %}
<div class="alert alert-success">{% trans 'Thank You, the online payment was successful. The confirmation will be available within several minutes.' %}</div>
{% elif request.GET.PaymentOrderStatusID.0 == '2' %}
<div class="alert alert-danger">{% trans 'Unfortunately, the online payment was not successful. Please, try it again or choose another payment method.' %}</div>
{% endif %}

<table class="table">
    <tr>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Payment Type' %}</th>
        <th>{% trans 'Registration' %}</th>
        <th class="right">{% trans 'Amount' %}</th>
        <th></th>
    </tr>
{% for payment in object_list %}
    {% for sub_payment in payment.sub_payments %}
    <tr>
        {% if forloop.first %}
        <td rowspan="{{ payment.sub_payments|length }}">{{ payment.accounted.date }}</td>
        <td rowspan="{{ payment.sub_payments|length }}">{{ payment.transaction_type_label }}</td>
        {% endif %}
        <td>{{ sub_payment.registration }}</td>
        <td class="right">{{ sub_payment.real_amount | currency }}</td>
        <td>
            <a class="btn btn-primary btn-xs" href="{{ sub_payment.get_absolute_url }}">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                {% trans 'download' %}
            </a>
        </td>
    </tr>
    {% endfor %}
{% empty %}
    <tr>
        <td colspan="5">{{ message_empty }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
