{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% trans 'Event registration' %}</title>
        <style type="text/css">
            @page {
                size: A4;
                margin: 2cm;
            }
            .page {
                page-break-after: always;
                font-size: 12pt;
                line-height: 180%;
            }
        </style>
    </head>
    <body>
        <div class="page">
            <h1 align="center">{% trans 'Event registration' %}</h1>
            <p align="center">{{ object.participant.age_group }}</p>
            <p>
                {% blocktrans with subject_type=object.subject.subject_type.name_genitiv %}Name of {{ subject_type }}{% endblocktrans %}: <b>{{ object.subject.name }}</b><br/>
                {% if object.subject.start_date %}{# event #}
                {% trans 'Event date' %}:
                <b>
                    {{ object.subject.start_date }}{% if object.subject.start_time %}, {{ object.subject.start_time }}{% endif %}
                    {% if object.subject.start_date != object.subject.end_date or object.subject.end_time %}- {% endif %}
                    {% if object.subject.end_date %} {{ object.subject.end_date }}{% endif %}{% if object.subject.start_date != object.subject.end_date and object.subject.end_time %}, {% endif %}
                    {% if object.subject.end_time %} {{ object.subject.end_time }}{% endif %}
                </b><br/>
                {% endif %}
                {% trans 'Participant name' %}: <b>{{ object.participant.full_name }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans 'Birth number' %}: <b>{{ object.participant.birth_num }}</b><br/>
                {% trans 'Address' %}: <b>{{ object.participant.address }}</b><br/>
                {% trans 'Citizenship' %}: <b>{{ object.participant.citizenship }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans 'Insurance' %}: <b>{{ object.participant.insurance }}</b><br/>
                {% trans 'Phone' %}: <b>{{ object.participant.phone }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans 'E-mail' %}: <b>{{ object.participant.email }}</b><br/>
                {% for parent in object.parents %}
                {% trans 'Parent\'s name' %}: <b>{{ parent.full_name }}</b><br/>
                {% trans 'Address' %}: <b>{{ parent.address }}</b><br/>
                {% trans 'Contact' %}: <b>{{ parent.contact }}</b><br/>
                {% endfor %}
                {% trans 'Health' %}:<br/>
                <b>{{ object.health }}</b>
                {% for qa in object.get_questions_and_answers %}
                <br/>{{ qa.question }}: <b>{{ qa.answer }}</b>
                {% endfor %}
            </p>

            <p>{% trans 'In' %}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% trans 'date' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
            <p>{% if object.parents %}{% trans 'Parent\'s signature' %}{% else %}{% trans 'Signature' %}{% endif %}:</p>
        </div>
    </body>
</html>
