{% extends 'leprikon/form.html' %}
{% load i18n sekizai_tags staticfiles %}

{% block content %}
{{ block.super }}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'moment.js/moment-with-locales.min.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">

$(document).ready(function() {
    $('#id_date').datetimepicker({
        locale: 'cs',
        format: 'L',
    });

    $('#id_start').datetimepicker({
        locale: 'cs',
        format: 'LT',
    });

    $('#id_end').datetimepicker({
        locale: 'cs',
        format: 'LT',
    });
});

</script>
{% endaddtoblock %}

{% endblock %}
