{% extends 'leprikon/form.html' %}
{% load i18n sekizai_tags staticfiles %}

{% block content %}
{{ block.super }}

{% include 'leprikon/static/bootstrap-datetimepicker.html' %}

{% addtoblock "js" %}
<script type="text/javascript">

$(document).ready(function() {
    $('#id_date').datetimepicker({
        locale: 'cs',
        format: 'L',
    });

    $('#id_start').datetimepicker({
        locale: 'cs',
        format: 'LT',
    });

    $('#id_end').datetimepicker({
        locale: 'cs',
        format: 'LT',
    });
});

</script>
{% endaddtoblock %}

{% endblock %}
