{% load i18n leprikon_tags sekizai_tags thumbnail %}

{% for group in groups %}

{% if group.objects.count %}

<h2 class="group_name">{{ group.group.plural }}</h2>

{% for club in group.objects %}

<div class="leprikon_club">

    <h3 class="club_name club_name_{{ club.id }}">
        {% if club.page %}
        <a href="{{ club.page.get_absolute_url }}" alt="{{ club.page.get_title }}">{{ club.name }}</a>
        {% else %}
        {{ club.name }}
        {% endif %}
        <br/>
        {% if club.all_times %}
        <small>{{ club.all_times | comma_separated }}</small>
        {% endif %}
        {% if club.price %}
        <small>{{ club.price | currency }} / {{ club.unit }}</small>
        {% endif %}
    </h3>

    <div class="club_description">
        {% if club.photo %}
        <a href="{% thumbnail club.photo 1500x1500 %}">
            <img class="right" src="{% thumbnail club.photo 200x200 %}" />
        </a>
        {% endif %}
        {{ club.description | safe }}

        {% if club.all_leaders %}
        <p>
            {% blocktrans count counter=club.all_leaders|length %}Led by{% plural %}Led by{% endblocktrans %}
            {{ club.get_leaders_list }}
        </p>
        {% endif %}

        {% if object.club_type.all_attachments or object.all_attachments %}
        <p>
            {% trans 'Attachments' %}:
            {% for attachment in object.club_type.all_attachments %}
            <a href="{{ attachment.file.url }}">{{ attachment.file }}</a>
            {% endfor %}
            {% for attachment in object.all_attachments %}
            <a href="{{ attachment.file.url }}">{{ attachment.file }}</a>
            {% endfor %}
        </p>
        {% endif %}

        {% if club.page %}
        <p>
            {% trans 'More information' %}:
            <a href="{{ club.page.get_absolute_url }}">
                {{ event.page.get_title }}
            </a>
        </p>
        {% endif %}

        <p>{% registration_links club %}</p>
    </div>

</div>

{% if request.toolbar.use_draft %}
{% addtoblock 'js' %}
<script>
(function($) {
$(document).ready(function () {
    new CMS.Plugin('club_name_{{ club.id }}', {
        'plugin_name': '{{ club.name }}',
        'urls': {
            'edit_plugin': '{{ club.get_edit_url }}',
        },
    });
});
})(CMS.$);
</script>
{% endaddtoblock %}
{% endif %}

{% endfor %}

{% endif %}

{% endfor %}

