
#header {
    background: #277616;
    border-color: #57340a;
}

#body, html {
    background: #eefff8;
    color: 030;
}

a {
    color: #008;
}

.box-header {
    color: #f8e713;
    border-color: #277616;
    background-color: #277616;
    text-shadow:  1px  1px 1px #57340a,
                  1px -1px 1px #57340a,
                 -1px  1px 1px #57340a,
                 -1px -1px 1px #57340a;
}

.box-header,
.box-header a,
.box-header a:hover,
.box-header a:active,
.box-header a:visited {
    color: #f8e713;
    text-shadow:  1px  1px 1px #57340a,
                  1px -1px 1px #57340a,
                 -1px  1px 1px #57340a,
                 -1px -1px 1px #57340a;
}

.box-header a.btn-primary {
    color: #fff;
    text-shadow: none;
}

.box-header .tag {
    text-shadow: none;
}

.box-content {
    border-color: #277616;
    background-color: #fff;
}

.list-group-item,
.dropdown-item,
.page-item {
    color: #030;
    background-color: #fff;
    border-color: #277616;
}

.list-group-item:hover, .list-group-item:focus,
.dropdown-item:hover, .dropdown-item:focus,
.page-item:hover, .page-item:focus {
    background-color: #eeffe8;
    color: #030;
    text-decoration: none;
}

.dropdown-item.active, .dropdown-item.active:hover, .dropdown-item.active:focus,
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus,
.page-item.active, .page-item.active:hover, .page-item.active:focus,
a.page-item.active:not([href]):not([tabindex]) {
    color: #f8e713;
    border-color: #277616;
    background-color: #277616;
    font-weight: bold;
    text-shadow:  1px  1px 1px #57340a,
                  1px -1px 1px #57340a,
                 -1px  1px 1px #57340a,
                 -1px -1px 1px #57340a;
}

h1 {
    color: #f8e713;
    border-color: #277616;
    background-color: #277616;
    margin-top: 10px;
    font-weight: bold;
    text-shadow:  1px  1px 1px #57340a,
                  1px -1px 1px #57340a,
                 -1px  1px 1px #57340a,
                 -1px -1px 1px #57340a;
}

.box-header .btn-primary,
.box-header .btn-primary:hover,
.box-header .btn-primary:focus,
.box-header .btn-primary:active {
    border-color: #fff;
}

.btn-primary {
    border-color: #277616;
    background-color: #277616;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border-color: #277616;
    background-color: #378626;
}

.btn-secondary,
.show > .btn-secondary.dropdown-toggle {
    background-color: #fff;
    border-color: #277616;
    color: #000;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #efe;
    border-color: #277616;
    color: #000;
}

.input-group-text {
    background-color: #eefff8;
    border-color: #277616;
    color: #000;
}

.form-control,
input.form-control[type="checkbox"] {
    border-color: #277616;
}

.alert-info {
    color: #00a;
    border-color: #66f;
    background-color: #ddf;
}

.alert-info .close {
    color: #00a;
}

.alert-warning {
    color: #930;
    border-color: #a60;
    background-color: #ffd;
}

.alert-warning .close {
    color: #930;
}

.green {
    color: #0a0;
}

.red {
    color: #e00;
}

.loader {
  border-color: #f3f3f3;
  border-top-color: #0a0;
}
